<html>
<head>
    <title>Lob Interview - Address Suggester</title>
    <script src="lib/vue-2.6.11.js"></script>
</head>
<body>

<div id="app">
    <!-- Address search suggestions component -->
    <h2>Address Search 'suggestions'</h2>
    <label>Address</label>
    <input v-on:keyup="suggestAddresses" v-model="searchAddressStr" placeholder="3400 N. Charles St. Baltimore, MD 21218" size="75" maxlength="200" />
    <h3>Results</h3>
    <div id="address-suggestions">
        <ul>
            <li v-for="address in suggestedAddresses">{{ address | concatenateValues }}</li>
        </ul>
    </div>

    <!-- Create component -->
    <h2>Create Address</h2>
    <label>Line 1</label><input v-model="addressNew.line1" />
    <label>Line 2</label><input v-model="addressNew.line2" />
    <label>City</label><input v-model="addressNew.city" />
    <label>State</label><input v-model="addressNew.state" />
    <label>Zip</label><input v-model="addressNew.zip" />
    <button @click="createAddress">Create</button>

    <!-- List all addresses, edit, delete -->
    <h2>Address List</h2>
    <table>
        <tr>
            <th>Line 1</th>
            <th>Line 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr v-for="(address, index) in addresses" :key="address.uuid">
            <td><input v-model="address.line1" :value="address.line1"></td>
            <td><input v-model="address.line2" :value="address.line2"></td>
            <td><input v-model="address.city" :value="address.city"></td>
            <td><input v-model="address.state" :value="address.state"></td>
            <td><input v-model="address.zip" :value="address.zip"></td>
            <td><button @click="updateAddress(address, index)">Change</button></td>
            <td><button @click="deleteAddress(address, index)">Delete</button></td>
        </tr>
    </table>
</div>

<script src="lib/axios-0.24.0.js"></script> <!-- Included for more robust AJAX requests -->
<script>
    axios.defaults.baseURL = 'http://localhost:8080' // Set the base URL for all API requests within this app

	new Vue({
		el: '#app',
		data: {
			// bound data to the create address form
			addressNew: {
				line1: '',
				line2: '',
				city: '',
				state: '',
				zip: ''
			},

            // Search/filter data
			searchAddressStr: '',
			suggestedAddresses: [],

            // All addresses
            addresses: [],
		},
        filters: {
			// Concatenates the values of the address object to make the addresses easier to list/read
			concatenateValues: function(addressObj) {
				const {uuid, ...addressWithoutUUID} = addressObj
                return Object.values(addressWithoutUUID).join(' ')
			},
        },
		methods: {
			// Reaches out to API for suggestions based on the user's address string
			async suggestAddresses() {
				console.debug('>>suggestAddresses()', this.searchAddressStr)
                try {
					let response = await axios.get('/addresses', { params: { searchStr: this.searchAddressStr }})
                    this.suggestedAddresses = response.data
                } catch (err) {
					console.error('suggest addresses failed with params', this.searchAddressStr)
                }
			},
            // Gets all addresses for the management of addresses (edit/delete)
			async getAddresses() {
				console.debug('>>getAddresses()')
				try {
					let response = await axios.get('/addresses')
					this.addresses = response.data
				} catch (err) {
					console.error("failed to retrieve addresses")
				}
			},
            // Creates a new address to be suggested/searched, saved to data store. Awaiting the response for a uuid (used for edits/deletes)
            async createAddress() {
				console.debug('>>createAddress')
                try {
					const response = await axios.post('/addresses', this.addressNew)
					this.addresses.push(response.data)
                } catch (err) {
					console.error('create address failed with payload', this.addressNew)
                }
            },

            // updates the address (full replacement) or creates a new record if it did not exist
            async updateAddress(address, index) {
				console.debug('>>updateAddress')
				try {
					const response = await axios.put(`/addresses/${address.uuid}`, address)
					this.addresses.splice(index, 1, response.data)
				} catch (err) {
					console.error('create address failed with payload', this.addressNew)
				}
            },

            // removes an address from the address records, will succeed if record does not exist
			async deleteAddress(address, index) {
				console.debug('>>deleteAddressByIndex')
				try {
					await axios.delete(`/addresses/${address.uuid}`)
                    this.addresses.splice(index, 1)
				} catch (err) {
					console.error('create address failed with payload', this.addressNew)
				}
            }
		},
        // when the component comes into view/usability
        mounted() {
            this.getAddresses() // Seed the list of all addresses for searching/suggesting, as well as the management list
        },
	})
</script>
</body>
</html>